<% include ./partials/header %>
  <div class="header">
            <div class="row">
                <div class="content-box header__text-box">
                    <div class = "indexpictext"> <h2 class="h2style center-text">About Us</h2>
Our name is 00-Hack (Double O - Hack, think James Bond, 007) and our mission is to provide college students with disabilities an exclusive platform for searching for and applying to jobs. 
<br><br> 
After an academic advisor shared with us a STEM access group struggling to get co-ops and internships, going back and forth through emails to hear about job opportunities, we saw a huge cry for help that could not go unattended to. We sought out to solve this problem by creating a11yrecruiter.com
<br> <br> 
a11yrecruiter.com is the first exclusive career services website for college students with disabilities. This website was made with accessibility positive frameworks and complies with all the Web Content Accessibility Guidelines(WCAG)2.0; the most universally accepted standard of web accessibility. 
<br><br> 
We aspire to be the handshake platform that disabled students in college need. 
<br> 
*The term ‘a11y’ stands for accessibility in the disabled community. Let’s inform the masses!*</div>
                </div>
            </div>
             </div>
        </div>
        
<% include ./partials/footer %>