<% include ./partials/header %>

 <div class="row">
    <div class="signUp_form margin-top-huge">
         <form action="/register" method="POST">
  <div class="form__group">
        <input class="form__input" type="text" name="username" placeholder="username">
  </div>    
  <div class="form__group">
      <input class="form__input" type="password" name="password" placeholder="password">
  </div>
    <button class="btn btn--blue">Sign Up</button>
    
</form>
    </div>
    
 </div>


        
     <% include ./partials/footer %>        